<html>
	<head>
	
	<style>
	h2 {
    	font-family: Arial, Helvetica, sans-serif;
	}

	p {
    	font-family: Arial, Helvetica, sans-serif;
	}
	</style>
		
		<title>Nodejs Hello World Example for OpenShift!</title>
	</head>	       
	<body>
	  <center>
		<h2>Cloud Admin - NodeJS v1</h2>
                <p><b>Hello World ITX!, Message passed from nodejs server:</b></p>
                <% if (messageFromNode) { %>
                   <span class="code" id="count-value"><%=messageFromNode%></span>
                   </p>
                <% } else { %>
                   <span class="code" id="count-value">No value found</span>
                   </p>
                <%} %>
          </center>
	</body>
</html>
